<template>

    <div class="about">
      <b-jumbotron text-variant="success" header="Vue CLI 3" lead="Standard Tooling for Vue.js Development">
          <p>For more information visit website</p>
        <b-btn variant="primary" href="https://cli.vuejs.org/">More Info</b-btn>
      </b-jumbotron>
    </div>
 
</template>
 