<template>
  <div class="home">
    <img alt="Vue logo" src="@/assets/logo.png">
    <!-- ini post -->
      <div class="container">
       
        <b-form-input class="mb-2" v-model="title" placeholder="Enter your tittle"></b-form-input>
        <b-form-input  class="mb-2" v-model="body" placeholder="Enter your body"></b-form-input>
        <b-form-input  class="mb-2" v-model="userId" placeholder="Enter your userId"></b-form-input>
        <template v-if="dataEdit">
           
              <a href="#" @click.prevent="postEdit()" class="btn btn-primary">Submit Edited</a>
        </template>
        <template v-else>
            <a href="#" @click.prevent="postExample()" class="btn btn-primary">Submit</a>
        </template>
     
    
      <!-- end -->
      <!-- get data -->
      <table class="table mt-5 mb-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Tittle</th>
            <th scope="col">Body</th>
            <th scope="col">action</th>
          </tr>
        </thead>
        <tbody>
          <tr  :key="index"  v-for="(datas, index) in data" > 
            <td>{{datas.id}}</td>
            
            <td>
              {{datas.title}}
             
            </td>
               
            <td>{{datas.body}}
               
              </td>   
               
                 <a href="#" @click.prevent="editedView(datas)" class="btn btn-primary">Edit</a>
             
          
          </tr>
          
          <!-- <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr> -->
        </tbody>
      </table>
        </div>
      <!-- end -->
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

export default {
  name: 'home',
  components: {
    HelloWorld
  },
  data() {
    return {
      title:null,
      body:null,
      userId:null,
      id:null,
      dataEdit:false,
      updateShow:null,
      data:[],

    }
  },
  mounted() {
    this.getdata()
  },
  methods: {
     editedView(data){
            this.id = data.id
           this.title =  data.title
      this.body = data.body
        this.userId = data.userId
        this.dataEdit = true
       
        
    },

    postEdit(){
         var body = 
        { 
          id : this.id,
          title:this.title, 
          body: this.body, 
          userId:this.userId
        }
      fetch('https://jsonplaceholder.typicode.com/posts/'+this.id, {
    method: 'PUT',
    body: JSON.stringify(body),
    headers: {
      "Content-type": "application/json; charset=UTF-8"
    }
  })
  .then(response => response.json())
  .then(json => {
    console.log(json)
    
    }) 
  },
    postExample(){
      var body = 
        { 
          title:this.title, 
          body: this.body, 
          userId:this.userId
        }

       fetch('https://jsonplaceholder.typicode.com/posts', {
          method: 'POST',
          body: JSON.stringify(body),
          headers: {
            "Content-type": "application/json; charset=UTF-8"
          }
        })
        .then(response => response.json())
        .then(json => console.log(json)) 
    },
    getdata(){
      fetch('https://jsonplaceholder.typicode.com/posts')
        .then(response => response.json())
        .then(json => {
         this.data = json 
       
        })
       
    }
  },
}
</script>
